<!DOCTYPE html>
<html>
<head>
    <title>Appointments</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        .appointment-list li {
            padding: 15px 10px; /* More vertical padding */
            margin-bottom: 15px; /* More space between appointments */
        }
    </style>
</head>
<body>
    <h1>Appointment List</h1>
    <ul class="appointment-list">
    {% for appointment in appointments %}
        <li>
            {{ appointment.patient.name }} - {{ appointment.date }} {{ appointment.time }} with Dr. {{ appointment.doctor_name }}
            (<a href="{% url 'appointment_update' appointment.pk %}">Edit</a>,
            <a href="{% url 'appointment_delete' appointment.pk %}">Delete</a>)
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'appointment_create' %}">Book New Appointment</a>
</body>
</html>